
{{ "recharge.css" | asset_url | stylesheet_tag }}
<style>
  .discount-label::before {
    content: "";
    background-image: url("{{ 'icon-circle.svg' | asset_url }} ") !important;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .rc-radio.rc-radio--active .discount-label::before {
    background-image: url("{{ 'icon-circle-active.svg' | asset_url }} ") !important;
  }
</style>
{%- capture quote_left -%}
<svg class="quote-left" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M13.125 15.75C14.219 15.75 15.2682 15.3154 16.0418 14.5418C16.8154 13.7682 17.25 12.719 17.25 11.625C17.25 9.942 16.374 8.3145 15.0668 8.00025C14.562 7.87875 14.1607 7.2315 14.247 6.49275C14.3625 5.50425 15.2565 4.50525 17.0272 3.71775C17.4217 3.54225 17.2568 2.949 16.8285 3.003C12.2137 3.5805 9.015 6.58875 9 10.845C9 13.7723 10.7295 15.75 13.125 15.75ZM4.125 15.75C5.21902 15.75 6.26823 15.3154 7.04182 14.5418C7.8154 13.7682 8.25 12.719 8.25 11.625C8.25 9.942 7.374 8.3145 6.06675 8.00025C5.562 7.87875 5.16075 7.2315 5.247 6.49275C5.3625 5.50425 6.2565 4.50525 8.02725 3.71775C8.42175 3.54225 8.25675 2.949 7.8285 3.003C3.21375 3.5805 0.015 6.58875 0 10.845C0 13.7723 1.7295 15.75 4.125 15.75Z"
    fill="#FF914F" />
</svg>
{%- endcapture -%}

{%- capture quote_right -%}
<svg class="quote-right" width="18" height="18" viewBox="0 0 18 18" fill="none"
  xmlns="http://www.w3.org/2000/svg">
  <path
    d="M4.875 2.25C3.78098 2.25 2.73177 2.6846 1.95819 3.45818C1.1846 4.23177 0.75 5.28098 0.75 6.375C0.75 8.058 1.626 9.6855 2.93325 9.99975C3.438 10.1213 3.83925 10.7685 3.753 11.5072C3.6375 12.4958 2.7435 13.4947 0.972752 14.2822C0.578253 14.4577 0.74325 15.051 1.1715 14.997C5.78625 14.4195 8.985 11.4113 9 7.155C9 4.22775 7.2705 2.25 4.875 2.25ZM13.875 2.25C12.781 2.25 11.7318 2.6846 10.9582 3.45818C10.1846 4.23177 9.75 5.28098 9.75 6.375C9.75 8.058 10.626 9.6855 11.9333 9.99975C12.438 10.1213 12.8393 10.7685 12.753 11.5072C12.6375 12.4958 11.7435 13.4947 9.97275 14.2822C9.57825 14.4577 9.74325 15.051 10.1715 14.997C14.7863 14.4195 17.985 11.4113 18 7.155C18 4.22775 16.2705 2.25 13.875 2.25Z"
    fill="#DB4536" />
</svg>
{%- endcapture -%}

{%- liquid 
  assign title_section = block.title_sec 
  assign hide_txt = block.hide_txt 
  if hide_txt == true
  assign classHide = "hide-txt"
  endif
  assign text_btn = block.btn_w_s 
  assign text_benefit = block.text_benefit 
  assign text_option = block.name_option
  
  assign benefit_img_1 = block.benefit_img_1
  assign benefit_title_1 = block.benefit_title_1
  assign benefit_info_1 = block.benefit_info_1

  assign benefit_img_2 = block.benefit_img_2
  assign benefit_title_2 = block.benefit_title_2
  assign benefit_info_2 = block.benefit_info_2

  assign benefit_img_3 = block.benefit_img_3
  assign benefit_title_3 = block.benefit_title_3
  assign benefit_info_3 = block.benefit_info_3

  assign benefit_img_4 = block.benefit_img_4
  assign benefit_title_4 = block.benefit_title_4
  assign benefit_info_4 = block.benefit_info_4
  
  assign quote = block.quote
  
  assign product_free = product_free
  assign is_free = is_free
  assign product_id = product_free.selected_or_first_available_variant.id
  assign product_title = product_free.title
  assign product_img = product_free.featured_image | img_url: '100x'
  assign product_img_alt = product_free.featured_image.alt
  assign free_title = block.free_title
  assign free_badge = block.free_badge
  assign free_fake_price = block.fake_price

  assign main_id = product_current.id

  assign icon_one_time = block.icon_one_time
  assign text_one_time = block.text_one_time


  assign first_variant = product_current.selected_or_first_available_variant

  assign origin_price = product_current.price 

  assign price_first_regular = first_variant.price
  assign price_first_compare = first_variant.compare_at_price
  assign price_first_save = price_first_compare | minus: price_first_regular
  assign price_first_discount =  price_first_regular | times: 0.15

-%}
{% capture price_variant %}
[
{% for variant in product_current.variants %}
  {
    "id":"{{variant.id}}",
    "priceRegular":"{{variant.price}}",
    "priceCompare":"{{variant.compare_at_price}}",
    "variantName": "{{variant.title | strip_html | downcase }}"
  }
  {% unless forloop.last %},{% endunless %}
{% endfor %}
]
{% endcapture %}
{%- capture widget_quntity -%}
[{
 {% for variant in product_current.variants %}
 "{{variant.id}}":"{{variant.inventory_quantity}}"{% unless forloop.last %},{% endunless %}
 {% endfor %}
}]
{%- endcapture -%}

<script type="application/json" id="widget_quntity">{{ widget_quntity | strip_newlines }}</script>
<script type="application/json" id="widget_price" >{{ price_variant | strip_newlines }}</script>
<div id="sn-product-widget" class="recharge-content" data-id-product="{{product_id}}">
    <input
      type='hidden'
      name='selling_plan'
      value=''
      class="form-selling-plan"
    >
  {% if is_free %}
  <input type="hidden" class="free-input" data-handle="{{product_current.title}}" value="{{product_id}}" data-quantity="0">
  {% endif %}
  <div class="recharge-product-widget__delivery-subscribe {{classHide}}">
    {%- comment -%}{%- endcomment -%}
    {% for selling_plan_group in product_current.selling_plan_groups limit: 1 %}
    {% for selling_plan in selling_plan_group.selling_plans limit: 1 %}
    <!-- {{selling_plan | json}} -->

    {% assign priceDiscount = origin_price | money_without_currency | times: selling_plan.price_adjustments[0].value | divided_by: 100 | ceil %}
    {% assign calcDiscountPrice = origin_price | money_without_currency | minus: priceDiscount %}
    {% assign savedPrice = price_first_compare | money_without_currency | minus: calcDiscountPrice | times: 100 | money %}
    
    
    <div class='selling_plan'>
      <div class="selling_plan-price">
        <p class="selling_plan-price_origin" data-originalPrice="{{first_variant.price | money}}" data-subscribePrice="{{price_first_compare | money }}">{{price_first_compare  | money }}</p>
        <label class='radio'>
          <div
          class='radio__price'
          data-discount-value='{{ selling_plan.price_adjustments[0].value }}'
          data-discount-type='{{ selling_plan.price_adjustments[0].value_type }}'
          data-after-cycle='{{ selling_plan.price_adjustments[0].order_count }}'
          data-next-discount-value='{{ selling_plan.price_adjustments[1].value }}'
          data-next-discount-type='{{ selling_plan.price_adjustments[1].value_type }}'
        >
          <span class='first-discount' data-originalPrice="{{first_variant.price | money}}" data-subscribePrice="{{calcDiscountPrice | times: 100 | money }}">
           {{calcDiscountPrice | times: 100 | divided_by: 2 | money }}
            <!-- {{ origin_price | divided_by: 100 | minus: priceDiscount | money }} -->
              
          </span>
            
        </div>
          
          <div class='radio__header'>
            <span class='radio__input'>
              {% if product_form_id %}
                <input
                  type='radio'
                  name='selling_plan'
                  value='{{ selling_plan.id }}'
                  form='{{ product_form_id }}'
                >
              {% else %}
                <input
                  type='radio'
                  name='selling_plan'
                  class="selling-plan-input"
                  value='{{ selling_plan.id }}'
                >
              {% endif %}
              <span class='radio__control'></span>
            </span>
            <span class='radio__label' style="display: none;" >
              {% if false %}
                {{ selling_plan.name }}
              {% else %}
                {{ selling_plan.options[0].value }}
              {% endif %}
            </span>
          </div>
        </label>
        
      </div>
    </div>
    {% endfor %}
    {% endfor %}

    {%- comment -%}{%- endcomment -%}
    {% if is_free %}
    <div class="recharge-product-free" data-id="{{product_id}}">
      <div class="recharge-product-free_badge">
        <span class="free-badge">FREE</span>
        {% if hide_txt == false %}
        <span class="free-text">{{free_fake_price}}</span>           
        {% endif %}
      </div>
      <div class="recharge-product-free_text">
        <h4 class="recharge-product-free_title">{{free_title}}</h4>
        <p class="recharge-product-free_subtitle">{{product_title}}</p>
      </div>
      <div class="recharge-product-free_img">
        <img src="{{product_img}}" alt="{{product_img_alt}}" loading="lazy">
      </div>
    </div>
    {% endif %}
    {%- comment -%}{%- endcomment -%}
    {% if hide_txt == false %}
      
      <p class="benefit-item_title" style="color:black;">You have a unique chance to save Black Friday price for as long as you subscribed!</p>
      <br>
      
    <div class="recharge-product-benefit">
      <div class="benefit-item">
          <div class="benefit-item_icon">
            <img 
              src="{{benefit_img_1 | img_url: 'master'}}" 
              alt="{{benefit_img_1.alt}}"
              loading="lazy"
              >
          </div>
          <div class="benefit-item_text">
              <h5 class="benefit-item_title">{{benefit_title_1}}</h5>
              <div class="benefit-item_info">{{benefit_info_1}}</div>
          </div>
      </div>
      <div class="benefit-item">
          <div class="benefit-item_icon">
            <img 
              src="{{benefit_img_2 | img_url: 'master'}}" 
              alt="{{benefit_img_2.alt}}"
              loading="lazy"
              >
          </div>
          <div class="benefit-item_text">
              <h5 class="benefit-item_title">{{benefit_title_2}}</h5>
              <div class="benefit-item_info">{{benefit_info_2}}</div>
          </div>
      </div>
    </div>
    {% endif %}
      {%- comment -%}{%- endcomment -%}
      
  </div>
 
  <div class="recharge-product-widget__delivery-purchase" style="display: none;">
    <div class="delivery-purchase-left">
      <div class="delivery-purchase-benefit-hand">
        <img src="{{icon_one_time | img_url: 'master'}}" alt="{{icon_one_time.alt}}" width="50" height="50">
        <div class="delivery-purchase-benefit-price">
          <p class="benefit-price-text">{{text_one_time}}</p>
          <p class='benefit-price--discount'>
            <b id="discount_price">{{calcDiscountPrice | times: 100 | money }}/ month</b>
            <span id="save_price">Save {{savedPrice}}</span>
          </p>
          <p id="regular_price" class='benefit-price--regular'>{{price_first_compare | money}}</p>
        </div>
      </div>
      <div class="delivery-purchase-benefit">
        {% for i in (i..4) %}
        {%- capture key_icon -%}benefit_img_{{i}}{%- endcapture -%}
        {%- capture key_title -%}benefit_title_{{i}}{%- endcapture -%}
        {% if block[key_icon] != blank and block[key_title] != blank %}
        <div class="delivery-purchase-benefit_item">
          <img width="20" height="20" class="benefit-item_icon" src="{{block[key_icon] | img_url: 'master'}}"
            alt="{{block[key_icon].alt}}" loading="lazy">
          <span class="delivery-benefit-item_text">{{block[key_title]}}</span>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="delivery-purchase-right">
      <span id="compare_price" data-price="{{price_first_regular | money}}" class="delivery-purchase-right-main-price">{{price_first_regular | money}} </span>
    </div>
    {% if quote != blank %}
    <div class="delivery-purchase-quote">
      <p>{{quote | prepend: quote_left | append: quote_right }}</p>
    </div>
    {% endif %}
  </div>
</div>

<div class="featured-price-wrapper">
  <div class="product__price-save">
      <div class="product__price-save_badge">
        {%- assign save_profit = product_current.compare_at_price | minus: product_current.price  -%}
        <span data-originalPrice="{{save_profit | money}}" data-subscribePrice="{{savedPrice}}">You save {{savedPrice}}</span>
      </div>
      <div class="product__price">
        {%- unless product_current == blank -%}
          <span data-originalPrice="{{first_variant.price | money}}" data-subscribePrice="{{calcDiscountPrice | times: 100 | divided_by: 2 | money }}" data-price="{{current_variant.price}}" class="product__price--regular{% if current_variant.compare_at_price > current_variant.price %} product__price--sale{% endif %}">
            {%- if first_variant.price == 0 -%}
              {{ 'products.product.free' | t }}
            {%- else -%}
              <!-- {{ current_variant.price | money }} -->
              {{calcDiscountPrice | times: 100 | divided_by: 2 | money }}

            {%- endif -%}
          </span>
        {%- else -%}
          <span id="ProductPrice">{{ 1999 | money }}</span>
        {%- endunless -%}

        <s data-price="{{price_first_compare | money}}" class="product__price--compare">
          {{price_first_compare | money}}
        </s>

        {%- liquid
          assign units = product_current.variants | map: 'unit_price' | compact
          if units[0]
            assign has_units = true
          else
            assign has_units = false
          endif
        -%}

        {%- if has_units -%}
          {%- capture show_units -%}
            {%- unless current_variant.unit_price -%}style="display: none;"{%- endunless -%}
          {%- endcapture -%}

          {%- capture unit_price_separator -%}
            <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
          {%- endcapture -%}

          {%- capture unit_price_base_unit -%}
            <span>
              {%- if current_variant.unit_price_measurement -%}
                {% if current_variant.unit_price_measurement.reference_value != 1 %}
                  {{ current_variant.unit_price_measurement.reference_value }}
                {% endif %}
                {{ current_variant.unit_price_measurement.reference_unit }}
              {%- endif -%}
            </span>
          {%- endcapture -%}

          <span class="product__unit-price">
            <span data-product-unit class="product__price--unit{% unless current_variant.unit_price %} hidden{% endunless %}">
              <span class="visually-hidden">{{ 'products.product.unit_price_label' | t }}</span>
              <span data-product-unit-price id="unit-price-{{ section.id }}">{{ current_variant.unit_price | money }}</span>
              {{ unit_price_separator }}
              <span data-product-base id="unit-price-base-{{ section.id }}">{{ unit_price_base_unit }}</span>
            </span>
          </span>
        {%- endif -%}

          <span style="display: none !important;" data-price-off class="product__price--off hidden">
            <span data-price-off-type>{{ 'products.product.sale' | t }}</span>
            <em>•</em>
            {{ 'products.product.save' | t }}
            <span data-price-off-amount></span>
          </span>

      </div>
  </div> 
</div>

{% if enable_script == true %}
{{"recharge.js" | asset_url | script_tag }} 
{% endif %}

