{{ "consistency-important.css" | asset_url | stylesheet_tag }}
{% liquid 
  assign st = section.settings.st | append: 'px'
  assign sb = section.settings.sb | append: 'px'
  assign stm = section.settings.stm | append: 'px'
  assign sbm = section.settings.sbm | append: 'px'
  assign heading = section.settings.heading
  assign decor_line = section.settings.decor_line
%}

{%- style -%}
.consistency-{{section.id}} {
  margin-top: {{st}};
  margin-bottom: {{sb}};
}
@media(max-width: 768px) {
  .consistency-{{section.id}} {
    margin-top: {{stm}};
    margin-bottom: {{sbm}};
  }
}
{%- endstyle -%}

<div class="consistency consistency-{{section.id}}">
  <div class="consistency-wrapper wrapper">
    {% if decor_line %}
      <img class="consistency-decor-line" src="{{decor_line | img_url: 'master'}}" alt="{{decor_line.alt}}" loading="lazy">
    {% endif %}
    {% if heading %}
      <h2 class="consistency-title">{{heading}}</h2>
    {% endif %}
    <div class="consistency-context consistency-context__bg ">
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when "main_text" -%}
          <div class="consistency-item consistency-item__main">{{block.settings.main_text}}</div>
          {%- when "text_decor" -%}
          <div class="consistency-item consistency-item__decor">
            {% if block.settings.decor %}
              <img src="{{block.settings.decor | img_url: 'master'}}" alt="{{block.settings.decor.alt}}" loading="lazy">
            {% endif %}
            <p>{{block.settings.sub_text}}</p>
          </div>
        {%- endcase -%}
      {% endfor %}
    </div>
    <div class="consistency-context ">
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when "text_extra" -%}
          <div class="consistency-item consistency-item__extra consistency-item__extra-{{block.settings.position}}">{{block.settings.extra_text}}</div>
        {%- endcase -%}
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Why is consistency",
  "blocks":[  
    {
      "type": "main_text",
      "name": "Main text",
      "settings": [
        {
          "type": "richtext",
          "id": "main_text",
          "label": "Main text"
        }
      ]
    },
    {
      "type": "text_extra",
      "name": "Extra text",
      "settings": [
          {
            "type": "richtext",
            "id": "extra_text",
            "label": "Extra text"
          },
          {
            "type": "select",
            "id": "position",
            "label": "Position for the text",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          }
        ]
    },
    {
      "type": "text_decor",
      "name": "Text with decor",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "sub_text",
          "label": "Sub text"
        },
        {
          "type": "image_picker",
          "id": "decor",
          "label": "Decor"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Space desktop"
    },
    {
      "type": "range",
      "id": "st",
      "label": "Space top",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "sb",
      "label": "Space bottom",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "header",
      "content": "Space mobile"
    },
    {
      "type": "range",
      "id": "stm",
      "label": "Space top",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "range",
      "id": "sbm",
      "label": "Space bottom",
      "unit": "px",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 0
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Why is consistency so important?"
    },
    {
      "type": "image_picker",
      "id": "decor_line",
      "label": "Decor line"
    }
  ],
  "presets": [
    {
      "name": "Why is consistency"
    }
  ]
}
{% endschema %}